<%- include('header'); -%>


<div class="panel">
	<div class="panel-heading">
		<h3 class="panel-title">Tất cả sản phẩm</h3>
		<div class="right">
			<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
			<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
		</div>
	</div>
	<div class="panel-body no-padding">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Mã giày</th>
					<th>Tên giày</th>
					<th>Số lượng</th>
					<th>Nhãn hiệu</th>
					<th>Màu</th>
					<th>Giá cũ</th>
					<th>Giá mới</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<% for(var i=0; i<dsGiay.length; i++) {%>
				<tr>
					<td><a href="#"><%= dsGiay[i].magiay %></a></td>
					<td><%= dsGiay[i].tengiay %></td>
					<td><%= dsGiay[i].soluong %></td>
					<td><%= dsGiay[i].nhanhieu %></td>
					<td><%= dsGiay[i].mau %></td>
					<td><%= dsGiay[i].giacu %></td>
					<td><%= dsGiay[i].giamoi %></td>
					<td><a href="/update?id=<%= dsGiay[i].magiay %>">Sửa</a></td>
					<td><a href="/quan_ly_gian_hang/delete/<%= dsGiay[i].magiay %>" onClick="return confirm('Bạn chắc chắn muốn xóa?')">Xóa</a></td>
				</tr>
			<% } %>	
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-6"><span class="panel-note"></span></div>
			<ul class="pagination justify-content-end">
			<% if(curPage == 1){ %>
				<li class="page-item"><a class="page-link" href="#">Trước</a></li>
			    <li class="page-item"><a class="page-link" href="#">1</a></li>
			    <li class="page-item"><a class="page-link" href="/quan_ly_gian_hang?page=2&brand=<%=brand%>&color=<%=color%>">2</a></li>
			    <li class="page-item"><a class="page-link" href="/quan_ly_gian_hang?page=3&brand=<%=brand%>&color=<%=color%>">3</a></li>
			<% } else{ %>  
				<li class="page-item"><a class="page-link" href="/quan_ly_gian_hang?page=<%= curPage - 1 %>&brand=<%=brand%>&color=<%=color%>">Trước</a></li>
			    <li class="page-item"><a class="page-link" href="/quan_ly_gian_hang?page=<%= curPage - 1 %>&brand=<%=brand%>&color=<%=color%>"><%= curPage - 1 %></a></li>
			    <li class="page-item"><a class="page-link" href="#"><%= curPage %></a></li>
			    <li class="page-item"><a class="page-link" href="/quan_ly_gian_hang?page=<%= curPage + 1 %>&brand=<%=brand%>&color=<%=color%>"><%= curPage + 1 %></a></li>
			<% } %>
			    <li class="page-item"><a class="page-link" href="/quan_ly_gian_hang?page=<%= curPage + 1 %>&brand=<%=brand%>&color=<%=color%>">Tiếp theo</a></li>
			</ul>
		</div>
	</div>
	<button  class="btn btn-primary"><a href="/addProduct">Thêm sản phẩm</a></button>
</div>

<div class="panel">
	<div class="panel-heading">
		<h3 class="panel-title">Lọc sản phẩm</h3>
		<div class="right">
			<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
			<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
		</div>
	</div>
	<div class="panel-body no-padding">
		<form action="/quan_ly_gian_hang" method="GET">
			<div class="common-filter">
				<div class="head text-primary" style="margin-left: 30px"><h2>Nhãn hiệu</h2></div>
				<ul>
					<% if(brand=="none"){ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="nonebr" name="brand" value="none" checked="true"><label for="nonebr">Tất cả</label></li>
					<% }else{ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="nonebr" name="brand" value="none"><label for="nonebr">Tất cả</label></li>
					<% } %>

					<% if(brand=="NIKE"){ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="nike" name="brand" value="NIKE" checked="true"><label for="nike">Nike</label></li>
					<% }else{ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="nike" name="brand" value="NIKE"><label for="nike">Nike</label></li>
					<% } %>

					<% if(brand=="ADIDAS"){ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="adidas" name="brand" value="ADIDAS" checked="true"><label for="adidas">Adidas</label></li>
					<% }else{ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="adidas" name="brand" value="ADIDAS"><label for="adidas">Adidas</label></li>
					<% } %>

					<% if(brand=="VANS"){ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="vans" name="brand" value="VANS" checked="true"><label for="vans">Vans</label></li>
					<% }else{ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="vans" name="brand" value="VANS"><label for="vans">Vans</label></li>
					<% } %>

					<% if(brand=="BITIS"){ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="bitis" name="brand" value="BITIS" checked="true"><label for="bitis">Bitis</label></li>
					<% }else{ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="bitis" name="brand" value="BITIS"><label for="bitis">Bitis</label></li>
					<% } %>

					<% if(brand=="SNEAKER"){ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="sneaker" name="brand" value="SNEAKER" checked="true"><label for="sneaker">Sneaker</label></li>
					<% }else{ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="sneaker" name="brand" value="SNEAKER"><label for="sneaker">Sneaker</label></li>
					<% } %>
				</ul>
			</div>
			<div class="common-filter">
				<div class="head text-primary" style="margin-left: 30px"><h2>Màu</h2></div>
				<ul>
					<% if(color=="none"){ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="nonecl" name="color" value="none" checked="true"><label for="nonecl">Tất cả</label></li>
					<% }else{ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="nonecl" name="color" value="none"><label for="nonecl">Tất cả</label></li>
					<% } %>

					<% if(color=="DEN"){ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color" value="DEN" checked="true"><label for="black">Đen</label></li>
					<% }else{ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color" value="DEN"><label for="black">Đen</label></li>
					<% } %>

					<% if(color=="NAU"){ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="brown" name="color" value="NAU" checked="true"><label for="brown">Nâu</label></li>
					<% }else{ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="brown" name="color" value="NAU"><label for="brown">Nâu</label></li>
					<% } %>

					<% if(color=="DO"){ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="red" name="color" value="DO" checked="true"><label for="red">Đỏ</label></li>
					<% }else{ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="red" name="color" value="DO"><label for="red">Đỏ</label></li>
					<% } %>

					<% if(color=="XAM"){ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="grey" name="color" value="XAM" checked="true"><label for="grey">Xám</label></li>
					<% }else{ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="grey" name="color" value="XAM"><label for="grey">Xám</label></li>
					<% } %>

					<% if(color=="TRANG"){ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="white" name="color" value="TRANG" checked="true"><label for="white">Trắng</label></li>
					<% }else{ %>
					<li class="filter-list"><input class="pixel-radio" type="radio" id="white" name="color" value="TRANG"><label for="white">Trắng</label></li>
					<% } %>
				</ul>
			</div>
			<p></p>
			<div style="text-align:center"><button type="submit" class="btn btn-outline-dark">Lọc</button></div>
		</form>
	</div>
	<div class="panel-footer">
		
	</div>
</div>



<%- include('footer'); -%>

</body>

</html>